.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b9e7e7;
  height: 100vh;
  align-items: center;
  color: teal;

  h2 {
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .no-data {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: #666;

      h3 {
        margin: 0;
      }
    }

    .user-profile {
      display: flex;
      background-color: white;
      // margin: 50px;

      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: #666;

      .profileDetails {
        display: flex;
        flex-direction: column;

        .profile-item {
          display: flex;
          align-items: center;
          gap: 5px;

          .profile-image,
          .profile-icon {
            width: 20px;
            height: 20px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .user-name,
        .user-email,
        .user-company {
          font-size: 16px;
        }
      }
    }
  }
}
